 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 356px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 531px;
  min-height: 273px;
  height: auto;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: linear-gradient(to right, #ffde95, #ffcc5b);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 14px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: Agbalumo;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 37px 238px 0 41px;
}

.u-section-1 .u-text-2 {
  line-height: 1.2;
  font-family: Agbalumo;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 10px 76px 0 -12px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 277px;
  background-image: none;
  width: 533px;
  margin: 5px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.u-section-1 .u-input-1 {
  --radius: 10px;
  letter-spacing: 1px;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-family: Ubuntu, sans-serif;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 10px;
  letter-spacing: 1px;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-family: Ubuntu, sans-serif;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #ffde95, #e13690);
  --radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: solid;
  font-family: Ubuntu, sans-serif;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 208px;
    margin-left: 11px;
    width: 244px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 46px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 96px;
}

.u-section-2 .u-form-1 {
  height: 47px;
  width: 825px;
  margin: 24px auto;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-family: "Maven Pro";
  font-size: 1.125rem;
}

.u-section-2 .u-input-1 {
  --radius: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-2 .u-label-2 {
  width: 100px;
  font-family: "Maven Pro";
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  background-image: linear-gradient(to right, #ffde95, #e13690);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-2 .u-input-1 {
    font-family: Ubuntu, sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 436px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 151px;
  --radius: 10px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 37px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-image-1 {
  width: 45px;
  height: 45px;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: linear-gradient(to right, #ffde95, #ffcc5b);
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: -43px auto 0 191px;
  padding: 12px 19px 14px 17px;
}

.u-section-3 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  margin: -34px auto 0 79px;
}

.u-section-3 .u-text-2 {
  font-family: Ubuntu, sans-serif;
  margin: 39px auto 0 55px;
}

.u-section-3 .u-text-3 {
  font-family: Ubuntu, sans-serif;
  margin: -28px 22px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 29px;
  height: 29px;
  margin: -30px 71px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 22px;
  height: 22px;
  margin: -25px 39px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 22px;
  height: 114px;
  border-bottom-style: dashed;
  border-left-style: dashed;
  margin: 0 auto 0 211px;
}

.u-section-3 .u-group-2 {
  width: 725px;
  min-height: 154px;
  --radius: 10px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -80px 182px 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-image-4 {
  width: 47px;
  height: 47px;
  margin: 22px auto 0 22px;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: linear-gradient(to right, #ffde95, #e13690);
  line-height: 1;
  text-transform: none;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: -43px auto 0 149px;
  padding: 12px 15px 13px 13px;
}

.u-section-3 .u-text-4 {
  font-family: Ubuntu, sans-serif;
  margin: -34px auto 0 83px;
}

.u-section-3 .u-text-5 {
  font-family: Ubuntu, sans-serif;
  margin: 41px auto 0 53px;
}

.u-section-3 .u-text-6 {
  font-family: Ubuntu, sans-serif;
  margin: -29px -18px 0 691px;
}

.u-section-3 .u-image-5 {
  width: 22px;
  height: 22px;
  margin: -25px 41px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 99px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 117px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 111px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 211px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 144px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 689px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 599px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 234px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 499px;
  }
}