 .u-section-1 {
  background-image: linear-gradient(#ffcfec, #fef9e6);
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 648px;
  background-image: url("images/S__8970340.jpg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  min-height: 259px;
  background-image: url("images/S__8970340.jpg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 389px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  --radius: 50px;
  width: 485px;
  min-height: 138px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 134px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 17px;
  padding-right: 17px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 22px 0 0 6px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 3px 6px 0;
}

.u-section-1 .u-shape-1 {
  width: 243px;
  height: 61px;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-image-1 {
    min-height: 534px;
  }

  .u-section-1 .u-image-2 {
    min-height: 213px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 466px;
  }

  .u-section-1 .u-group-1 {
    width: 461px;
    min-height: 217px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 316px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-1 .u-image-1 {
    min-height: 818px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-1 .u-image-1 {
    min-height: 614px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 245px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 76px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-image-1 {
    min-height: 387px;
  }

  .u-section-1 .u-image-2 {
    min-height: 154px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/nguyen-khanh-ly-liiusuaISP0-unsplash.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 551px;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  width: 857px;
  margin: 39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#fef9e6, #edbcee);
  min-height: 1080px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 758px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 17px;
}

.u-section-3 .u-gallery-1 {
  height: 520px;
  width: 381px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-group-1 {
  --radius: 30px;
  min-height: 97px;
  width: 381px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 24px 78px 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px -37px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 16px 53px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  --radius: 30px;
  min-height: 97px;
  width: 446px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 32px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px -37px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 28px 32px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  --radius: 30px;
  min-height: 97px;
  width: 446px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px -37px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 24px 72px 0 32px;
}

.u-section-3 .u-shape-1 {
  height: 261px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-group-4 {
  --radius: 30px;
  width: 734px;
  min-height: 72px;
  height: auto;
  margin: -129px auto 28px;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(225,54,144,0.4);
  margin: 0 -35px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 948px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 28px;
    margin-right: 28px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-3 .u-group-2 {
    width: 410px;
    margin-left: 28px;
    margin-right: 28px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-3 .u-group-3 {
    width: 410px;
    margin-left: 28px;
    margin-right: 28px;
    height: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 522px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    width: 326px;
  }

  .u-section-3 .u-group-1 {
    width: 326px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-group-2 {
    width: 326px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-group-3 {
    width: 326px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    width: 720px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 622px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-3 {
    width: 413px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: -39px;
    margin-right: -39px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    width: 320px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-group-3 {
    width: 405px;
    margin-left: -32px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-group-1 {
  --radius: 30px;
  min-height: 554px;
  margin-top: 83px;
  margin-bottom: 51px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-gallery-1 {
  height: 494px;
  width: 504px;
  margin: 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 117px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 117px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    width: 320px;
  }
}