 .u-section-1 {
  background-image: url("images/1687398356_en-idei-club-p-study-table-background-dizain-krasivo-4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 124px auto 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffde95, #e13690);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: solid;
  font-family: Ubuntu, sans-serif;
  margin: 109px auto 0 0;
  padding: 35px 149px 35px 147px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffde95, #e13690);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: solid;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  margin: -116px 205px 0 auto;
  padding: 35px 145px 35px 144px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -76px auto 60px 453px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 41px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -234px;
    margin-left: 135px;
  }
}