 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 429px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-1 .u-image-1 {
  min-height: 323px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/default-image.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Finger Paint";
  margin: 20px 0 0 9px;
}

.u-section-1 .u-text-2 {
  font-family: "Finger Paint";
  font-size: 1.875rem;
  margin: 13px 9px 0;
}

.u-section-1 .u-text-3 {
  font-family: "IBM Plex Sans Thai";
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 38px 9px 0;
}

.u-section-1 .u-text-4 {
  font-family: "IBM Plex Sans Thai";
  margin: 21px 9px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-form-1 {
  height: 273px;
  background-image: none;
  width: 533px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.u-section-1 .u-input-1 {
  font-family: "Maven Pro";
  --radius: 10px;
  letter-spacing: 1px;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-family: "Maven Pro";
  --radius: 10px;
  letter-spacing: 1px;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #ffde95, #e13690);
  --radius: 50px;
  font-family: "Maven Pro";
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 96px;
}

.u-section-2 .u-form-1 {
  height: 47px;
  width: 825px;
  margin: 24px auto;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-family: "Maven Pro";
  font-size: 1.125rem;
}

.u-section-2 .u-input-1 {
  --radius: 10px;
  font-family: "Maven Pro";
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-label-2 {
  width: 100px;
  font-family: "Maven Pro";
  font-size: 1.125rem;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  background-image: linear-gradient(to right, #ffde95, #e13690);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 419px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 152px;
  --radius: 10px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 37px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-image-1 {
  width: 47px;
  height: 47px;
  margin: 19px auto 0 18px;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: "Maven Pro";
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  margin: -44px auto 0 191px;
  padding: 12px 19px 14px 17px;
}

.u-section-3 .u-text-1 {
  font-family: "IBM Plex Sans Thai";
  margin: -34px auto 0 79px;
}

.u-section-3 .u-text-2 {
  font-family: "IBM Plex Sans Thai";
  margin: 39px auto 0 55px;
}

.u-section-3 .u-icon-1 {
  width: 28px;
  height: 28px;
  margin: -28px 39px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-family: "IBM Plex Sans Thai";
  margin: -28px 22px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 29px;
  height: 29px;
  margin: -30px 81px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 22px;
  height: 114px;
  border-bottom-style: dashed;
  border-left-style: dashed;
  margin: -1px auto 0 211px;
}

.u-section-3 .u-group-2 {
  width: 725px;
  min-height: 154px;
  --radius: 10px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -79px 182px 42px auto;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-image-3 {
  width: 47px;
  height: 47px;
  margin: 22px auto 0 22px;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: "Maven Pro";
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  margin: -43px auto 0 149px;
  padding: 12px 15px 13px 13px;
}

.u-section-3 .u-text-4 {
  font-family: "IBM Plex Sans Thai";
  margin: -34px auto 0 83px;
}

.u-section-3 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: 41px 38px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-family: "IBM Plex Sans Thai";
  margin: -28px auto 0 53px;
}

.u-section-3 .u-text-6 {
  font-family: "IBM Plex Sans Thai";
  margin: -29px -18px 0 691px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 99px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 117px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
    margin-left: 111px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -108px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 115px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 211px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 144px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 689px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -105px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -45px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 599px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 234px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 499px;
  }
}